<html>
    <head>
        <meta name="viewport"
			content="initial-scale=1.0, user-scalable=no" content="width=device-width" />
            <link rel="stylesheet" href="{{STATIC_URL}}home.css" type="text/css"/>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}home.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}toma.js"></script>
        </head>
    <body onload="initialize()">
	    <div id="map_canvas"></div>
	    <div id="handle" onclick="handleHandle()"><i class="icon-chevron-up"/></i></div>
	    <div id="container_ui">
		    <div>Some nice interface stuffs</div>
		    <p>
		      <label>Name</label>
		      <input id="name_input" type="text" />
		      <input class="btn btn-success" type="submit" value="imposta name" onclick="setName()"/>
		    </p>
	    </div><!-- /end #container_ui -->
    </body>
</html>
