<html>
    <head>
        <meta name="viewport"
			content="initial-scale=1.0, user-scalable=no" content="width=device-width" />
	<style>
		#map_canvas {height:100%;}
		#handle {
			display:inline;
			position:relative;
			bottom:20px;
			left:50%;
			padding:10px;
			background:#ffffff;
		}

		#container_ui {
			/* the UI for various buttons occupies 
			   as much space as the map (?)
			*/
			height:100%;
		}
	</style>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script>//http://code.google.com/p/miniajax/
                function $(e){if(typeof e=='string')e=document.getElementById(e);return e};
                function collect(a,f){var n=[];for(var i=0;i<a.length;i++){var v=f(a[i]);if(v!=null)n.push(v)}return n};

                        ajax={};
                        ajax.x=function(){try{return new ActiveXObject('Msxml2.XMLHTTP')}catch(e){try{return new ActiveXObject('Microsoft.XMLHTTP')}catch(e){return new XMLHttpRequest()}}};
                        ajax.serialize=function(f){var g=function(n){return f.getElementsByTagName(n)};var nv=function(e){if(e.name)return encodeURIComponent(e.name)+'='+encodeURIComponent(e.value);else return ''};var i=collect(g('input'),function(i){if((i.type!='radio'&&i.type!='checkbox')||i.checked)return nv(i)});var s=collect(g('select'),nv);var t=collect(g('textarea'),nv);return i.concat(s).concat(t).join('&');};
                        ajax.send=function(u,f,m,a){var x=ajax.x();x.open(m,u,true);x.onreadystatechange=function(){if(x.readyState==4)f(x.responseText)};if(m=='POST')x.setRequestHeader('Content-type','application/x-www-form-urlencoded');x.send(a)};
                        ajax.get=function(url,func){ajax.send(url,func,'GET')};
                        ajax.gets=function(url){var x=ajax.x();x.open('GET',url,false);x.send(null);return x.responseText};
                        ajax.post=function(url,func,args){ajax.send(url,func,'POST',args)};
                        ajax.update=function(url,elm){var e=$(elm);var f=function(r){e.innerHTML=r};ajax.get(url,f)};
                        ajax.submit=function(url,elm,frm){var e=$(elm);var f=function(r){e.innerHTML=r};ajax.post(url,f,ajax.serialize(frm))};
        </script>
        <script type="text/javascript">
                var gHandleY = 0;
                var isOpened = false;
                var gMarker = new Array();

                // http://stackoverflow.com/questions/442404/dynamically-retrieve-html-element-x-y-position-with-javascript
                function getOffset( el ) {
                    var _x = 0;
                    var _y = 0;
                    while( el && !isNaN( el.offsetLeft ) && !isNaN( el.offsetTop ) ) {
                        _x += el.offsetLeft - el.scrollLeft;
                        _y += el.offsetTop - el.scrollTop;
                        el = el.offsetParent;
                    }
                    return { top: _y, left: _x };
                }

                function initialize() {
                    var latlng = new google.maps.LatLng(-34.397, 150.644);
                    var myOptions = {
                        zoom: 15,
                        center: latlng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    var map = new google.maps.Map(
                            document.getElementById("map_canvas"),
                            myOptions);

                    function addMarker(map, location) {
                        var marker = new google.maps.Marker({
                            position: location,
                            title: "Hello World!"
                        });

                        // To add the marker to the map, call setMap();
                        marker.setMap(map);

                        // add also a info window
                        var contentString = new Date().toGMTString();
                        var infowindow = new google.maps.InfoWindow({
                            content: contentString
                        });
                        infowindow.open(map, marker);

                        return marker;
                    }
                    if (navigator.geolocation) {
                        browserSupportFlag = true;

                        var watchID = navigator.geolocation.watchPosition(
                                function(position) {
                                    addMarker(
                                        map,
                                        new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
                                    ajax.post(
                                        '/gr/position/',
                                        function(r) {},
                                        "position="+position.coords.latitude+":"+position.coords.longitude);
                                }, function(err) {alert("Error: " + err)}, {
                            enableHighAccuracy: true,
                            maximumAge: 30000,
                            timeout: 27000
                        });
                    }
                    gHandleY = getOffset(document.getElementById('handle')).top;
                    setInterval(function() {
                            ajax.post(
                                '/gr/users/',
                                function(r) {
                                    var count = gMarker.length;
                                    for (var cycle = 0 ; cycle < count ; cycle++) {
                                        gMarker[cycle].setMap(null);
                                    }

                                    gMarker = new Array();

                                    jr = JSON.parse(r);
                                    var count = jr.length;
                                    for (var cycle = 0 ; cycle < count ; cycle++) {
                                        gMarker.push(addMarker(map,new google.maps.LatLng(jr[cycle][""][0], jr[cycle][""][1])));
                                    }
                                }, null);
                    }, 15000);
                }
                function handleHandle() {
                        window.scrollTo(0, isOpened ? 0 : gHandleY);
                        isOpened = !isOpened;
                }
                function setName() {
                    input = document.getElementById('name_input');
                    ajax.post('/gr/name/', function(e) { console.log(e);}, '{"name": "' + input.value + '"}');
                }
            </script>
        </head>
    <body onload="initialize()">
	    <div id="map_canvas"></div>
	    <div id="handle" onclick="handleHandle()">handle</div>
	    <div id="container_ui">
		    <div>Some nice interface stuffs</div>
		    <p>
		      <label>Name</label>
		      <input id="name_input" type="text" />
		      <input type="submit" value="imposta name" onclick="setName()"/>
		    </p>
	    </div><!-- /end #container_ui -->
    </body>
</html>
