<!doctype html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="{{STATIC_URL}}home.css" type="text/css"/>
</head>
<body class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand"/>toma</a>
            <ul class="nav">
                <li><a href="{% url "gr-new" %}">crea una geostanza</a></li>
                <li><a href="#">about</a></li>
            </ul>
        </div>
    </div>
    <div class="hero-unit">
        <h1>Toma</h1>
        <p>if you need to share with someone or a group your position
        without bullshit, we are here for you
        </p>
    </div>
</body>
</html>
